---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Button from "../components/Button.astro";

type props = {
  image: ImageMetadata;
  alt: string;
  title: string;
  text: string;
  buttonText?: string;
  buttonLink?: string;
};

const { image, alt, title, text, buttonText, buttonLink } =
  Astro.props as props;
---

<section class="feature">
  <div class="image">
    <Image src={image} alt={alt} />
  </div>
  <div class="content">
    <h2>{title}</h2>
    <p>{text}</p>
    {
      buttonText && buttonLink && (
        <Button variant="primary" href={buttonLink}>
          {buttonText}
        </Button>
      )
    }
  </div>
</section>

<style>
  .feature {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
    align-items: center;
    margin: 2rem auto;
  }

  .image {
    border-radius: 12px;
    overflow: hidden;
  }
  .image img {
    width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    border-radius: 12px;
    object-fit: cover; /* niemals verzerren */
  }
</style>
